:root {
    font-family: ui-rounded, -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji";
    --tertiary-text-color: #6b6b6b;
    --link-color: #4867e7;
    --padding: 8px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --tertiary-text-color: #8c8c8c;
        --link-color: #4f71ff;
    }
}

body {
    max-width: 500px;
    margin: auto;
    text-align: center;
    line-height: 1.5
    font-size: 100%;
}

img {
    display: block;
    max-width: 80%;
    margin: auto;
    padding: var(--padding) 0px;
}

a {
    color: var(--link-color);
}

a:link, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    font-size: 0.9em;
    color: var(--tertiary-text-color);
    text-align: center;
}
